node_modules
.idea
tmp
.DS_store
iob_npm.done
admin/i18n/flat.txt
admin/i18n/*/flat.txt
nbproject
/src-admin/src/Components/cp-react-tree-table/package-lock.json
/build
src-admin/build
src-widgets/build
/src-widgets/.__mf__temp/

#ignore .commitinfo created by ioBroker release script
.commitinfo
