/* variables */
$app-background-color: #EEE;
$header-height: 120px;
$tapper-width : 500px;
$tapper-height : 100%;
$tapper-border-color : #00000020;
$tapper-color2 : #EEE;
$tapper-color : #6c7a93;
$danger : #dd5325;
$success : #73b6a8;
$small: 768px;
$radius: 19px;
$pressShadow : 2px 2px 4px 0 #f5fbffed ,
  -2px -2px 4px 0 #8693ac7a,
  inset -2px -2px 2px 0 #ffffff5c,
  inset 2px 2px 2px 0 #00000021!important;

body {
  margin: 0;
  overflow-x: hidden;
  color: $tapper-color;
}
.App {
  display:flex;
  position: relative;
}
.scrolled-auto
{
  overflow-x: hidden;
  overflow-y:auto;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}
.sliders-container
{
  width:100%;
  height: 100%;
  display:flex;
  flex-direction:column;
}
.tapper-title
{
  font-size: 1.3rem!important;
  text-transform: uppercase;
  padding-bottom: 1rem!important;
}
.tapper-descr
{
  display:flex;
  flex-direction:column;
  flex-grow:1000;
}
.tapper-container
{
  position: relative;
}
.tapper-inside
{
  overflow: hidden;
  height: $tapper-height;
  flex-grow: 1;
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.text-danger
{
  color: $danger;
}
.text-success
{
  color: $success;
}
.pretto
{
  position:relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  & > span
  {
    padding:0 3px!important;
  };
  &-label
  {
    color: #6c7a93;
    font-weight:700;
    font-size:.9rem;
    height: 30px;
    width: 90%!important;
    text-align: center;
  };
  &:hover[aria-label="pretto slider"]
  {
    opacity:1;
    transform: scale(1);
  };
  &-time
  {
    position:absolute;
    font-size:0.9rem;
    font-weight:700;
    bottom:-10px;
    margin-left:3px;
    width: 90%!important;
    border-radius: 4px!important;
    &.active
    {
      color:#FFF;
    }
  };
  &-secs
  {
    font-size:0.6rem;
    font-weight:100;
  }
  &-check
  {
    position:absolute;
  }
}


.App-header {
  background-color: $app-background-color;
  height: $header-height;
  margin-bottom:10px;
}

.flow,
.flow-micro,
.flow-square,
.flow-little,
.flow-menu-item,
.flow-dark,
.tapper-edit
{
  width: 26px;
  height: 28px !important;
  max-height: 28px!important;
  min-height: 28px!important;
  padding:0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  position:relative;
  &::before
  {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0px;
    margin-top: -0px;
    width: 0px;
    height: 0px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity:0;
  }
  &.active
  {
    background: #236b8e;
    &:hover
    {
      background: #236b8e;
    }
    &::before
    {
      width: 20px;
      height: 20px;
    }
  }
  &.disable
  {
    color:#DDD!important;
  }
}
.flow-little
{
  width: 30px;
  height: 30px !important;
  max-height: 30px!important;
  min-height: 30px!important;
}
.flow-micro
{
  width: 22px;
  height:22px !important;
  max-height: 22px!important;
  min-height: 22px!important;
}
.flow-square
{
  width: 40px;
  height:40px !important;
  max-height: 40px!important;
  min-height: 40px!important;
  border-radius: 0;
}
.flow-menu {
  display: flex;
  padding-left: 5px;
  flex-direction: column;
  margin: 15px;
  background: #FFFFFF10;
  & [role="menu"]
  {
      margin:0;
      padding:0;
  };
}
.flow-menu-item,
.flow-dark,
.tapper-edit,
.tapper-edit-hor
{
  display:flex!important;
  justify-content:center!important;
  align-items: center!important;
  &.active
  {
    color:#FFF!important;
  }
  &:hover
  {
    background: #292929;
  }
}
.flow-dark
{
  margin:10px!important;
}
.mobile-scrolled
{
  overflow-y: auto;
  overflow-y: hidden;
}
.hidden
{
  display:none;
}
.h-100
{
  height:100%;
  display: flex;
  flex-direction: column;
}
.w-100
{
  width:100%;
  display: flex;
}
.wc-100
{
  width:100%;
  display: flex;
  flex-direction: column;
}
.close-label-left-sm,
.close-label-left-sm,
.label-left-sm-1,
.label-left-sm-2,
.label-right-sm-3,
.label-right-sm-4,
.label-right-sm-5,
.label-right-sm-6,
.label-menu,
.label-menu-bottom
{
  display:none!important;
}
.edit_button
{

  width:30px;
  height:30px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right:2px;
  &:active
  {
    color:#EEE;
  }
  & > svg
  {
    font-size: 1.2rem;
  }
  .flow-menu-item:hover &,
  .flow-menu-item.active &
  {
    display:flex;
  }
}

.day_night_cont,
.day_night-slide-cont
{
  position:relative;
  background-color: #00000022;
  width:100%;
  display:flex;
  justify-content: center;
  overflow:hidden;
  transition: height 300ms ease-out;
  & > div
  {
    position: relative;
  }
  & > div > img,
  & > div >.day_night
  {
    width:100%;
    max-width: 550px;
    height: auto;
    max-height: 90px;
  }
  & > div >.day_night
  {
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    & > .day-night-quorte,
    & > .day-night-slide
    {
      display:flex;
      width:100%;
    }
    & > .day-night-slide
    {
      display: flex;
      width: 100%;
      height: calc(100% - 9px);
      position: absolute;
      border: 6px solid #FFF;
      margin-top: -3px;
      -webkit-transition: all 400ms ease-out;
      -moz-transition: all 400ms ease-out;
      -ms-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      transition: all 400ms ease-out;
      &::before
      {
        content:"";
        position:absolute;
        left:calc(-200% - 5px);
        top:-5px;
        height: calc(100% + 12px);
        width:200%;
        pointer-events: none;
      }
      &::after
      {
        content:"";
        position:absolute;
        right:calc(-200% - 5px);
        top:-5px;
        height: calc(100% + 12px);
        width:200%;
        pointer-events: none;
      }
    }
  }
}
.swiper-content
{
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-between;
  & > .btn-cont
  {
    position:relative;
  }
  & > .btn-cont > .left-button,
  & > .btn-cont > .left-button-add,
  & > .btn-cont > .right-button
  {
      position:relative;
      margin:0;
      width:40px!important;
      min-width: 40px!important;
      height:40px!important;
      left:15px;
      top: 50%;
      & > svg
      {
        opacity:1!important;
      }
  }
  & > .btn-cont > .left-button-add
  {
    top:calc(50% + 50px);
  }
  & > .btn-cont > .right-button
  {
    left:auto;
    right:0px;
  }
  & .swiper
  {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}
.m-0
{
  margin: 0!important;
}
.m-1
{
  margin: 10px!important;
}
.p-0
{
  padding: 0!important;
}
.p-1
{
  padding:10px!important;
}
.px-1
{
  padding-left:10px!important;
  padding-right:10px!important;
}
.p-2
{
  padding: 20px!important;
}
.pr-1
{
  padding-right: 10px!important;
}
.pl-1
{
  padding-left: 10px!important;
}
.pl-2
{
  padding-left: 20px!important;
}
.pl-3
{
  padding-left: 30px!important;
}
.mt-1
{
  margin-top:10px!important;
}
.mt-0
{
  margin-top:0!important;
}
.mt-1_5
{
  margin-top:15px!important;
}
.mt-2
{
  margin-top:20px!important;
}
.mt-3
{
  margin-top:30px;
}
.ml-1
{
  margin-left: 10px!important;
}
.mt-auto
{
  margin-top:auto!important;
}
.ml-auto
{
  margin-left:auto!important;
}
.mr-auto
{
  margin-right:auto!important;
}
.mx-auto
{
  margin-right:auto!important;
  margin-left:auto!important;
}
.absolute-right
{
  position:absolute;
  right:0;
  display:flex;
}
.d-flex
{
  display:flex!important;
}
.flex-column
{
  display:flex;
  flex-direction: column;
}
.flex-grow-1
{
  flex-grow:1;
}
.flex-grow-1000
{
  flex-grow:1000;
}

@media (max-width: $small)
{
  .App
  {
    overflow: hidden;
  }
  .order-sm-1
  {
    order:1;
    overflow-x:hidden;
  }
  .order-sm-2
  {
    order:2;
  }
  .order-sm-3
  {
    order:3;
  }
  .order-sm-4
  {
    order:4;
  }
  .order-sm-5
  {
    order:5;
  }
  .order-sm-6
  {
    order:6;
  }
  .sm-hidden
  {
    height:0;
    width:0;
    padding:0;
    margin:0;
  }
  .clip-left-sm-1,
  .clip_left_sm_2,
  .clip_left_sm_4,
  .clip_left_sm_5,
  .clip_left_sm_6,
  .clip_left_sm_7,
  .clip_right_sm_3
  {
    position:absolute;
    top:0;
    width:calc(100% - 70px);
    left:calc(-100% - 70px);
    z-index:2;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &.active
    {
      left:0;
    }
  }
  .swiper-content
  {
    justify-content: center;
    & > .left-button,
    & > .right-button
    {
      display:none;
    }
  }
  .label-menu,
  .label-menu-bottom
  {
    display: -webkit-flex !important;
    display: flex !important;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 75px;
    height: 190px;
    transform: skewY(-14deg);
    z-index:3;
  }

  .label-menu-bottom
  {
    top: auto;
    bottom: -75px;
    transform: skewY(11deg);
    height: 290px;
  }

  .label-left-sm-1,
  .label-left-sm-2,
  .label-right-sm-3,
  .label-right-sm-4,
  .label-right-sm-5,
  .label-right-sm-6,
  .label-right-sm-7
  {
    position:absolute;
    z-index:4;
    width:40px;
    height:40px;
    color:#DDD;
    display:flex!important;
    justify-content:center;
    align-items: center;
    top:10px;
    left: 7px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    background: linear-gradient(to bottom, #555 10%, #444 45%);
    &.active
    {
      color:#FFF!important;
      background: #444;
      background: -moz-linear-gradient(top,  #111 0%, #444 92% );
      background: -webkit-linear-gradient(top,  #111 0%, #444 92% );
      background: linear-gradient(to bottom,  #111 0%, #444 92% );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#444',GradientType=0 );
    }
  }
  .label-left-sm-2
  {
    bottom: 61px;
    top: auto;
  }
  .label-right-sm-3
  {
    top:60px;
  }
  .label-right-sm-4
  {
    top: auto;
    bottom: 11px;
  }
  .label-right-sm-5
  {
    top: 110px;
  }
  .label-right-sm-6
  {
    top: auto;
    bottom: 110px;
  }
  .label-right-sm-7
  {
    top: auto;
    bottom: 160px;
  }
  .close-label-left-sm,
  .close-label-left-sm-2
  {
    height:60px;
    display:flex!important;
    justify-content:center;
    align-items: center;
  }
  .mobile-scrolled
  {
    overflow-y:auto;
  }
  .tapper-grid
  {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    align-items: center;
    padding: 0px 10px 0 60px !important;
  }
  .flow-menu
  {
    width: calc(100% - 30px);
  }
  .tapper-inside
  {
    clip-path: inset(0 round 0);
  }
  .mt-sm-auto
  {
    margin-top:auto;
  }
  .mb-sm-auto
  {
    margin-bottom:auto;
  }
  .mb-sm-4
  {
    margin-bottom: 40px;
  }
}