/* variables */
$app-background-color: #EEE;
$header-height: 120px;
$tapper-width : 500px;
$tapper-height : 180px;
$tapper-border-color : #00000020;
$tapper-color2 : #EEE;
$tapper-color : #6c7a93;
$danger : #dd5325;
$success : #73b6a8;
$small: 768px;
$radius: 19px;
$pressShadow : 2px 2px 4px 0 #f5fbffed , 
  -2px -2px 4px 0 #8693ac7a, 
  inset -2px -2px 2px 0 #ffffff5c, 
  inset 2px 2px 2px 0 #00000021!important; 

body {
  margin: 0;
  overflow-x: hidden;
  color: $tapper-color;
}
.App {
  display:flex; 
  position: relative;
}
.scrolled-auto
{
  overflow-x: hidden;
  overflow-y:auto;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
} 
.sliders-container
{
  width:100%;
  display:flex;
  flex-direction:column;
}
.tapper-title
{
  font-size: 1.3rem!important;
  text-transform: uppercase;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.tapper-descr
{
  display:flex;
  flex-direction:column;
  flex-grow:1000;
  background-color: #d3e1f7;
}
.tapper-container
{ 
  position: relative; 
}
.tapper-inside
{
  overflow: hidden;
  height: $tapper-height;
  flex-grow: 1;  
  position: relative; 
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.text-danger
{
  color: $danger;
}
.text-success
{
  color: $success;
}
.tapper-shadow
{
  box-shadow: -2px -2px 3px 0 #0c0c0c2b, 2px 2px 3px 0 #faf9f9;
}
.tapper-shadow2
{
  box-shadow: 7px 7px 18px 0 #43618f17, 
              inset 2px 2px 2px 0 #ffffffaa, 
              inset -2px -2px 2px 0 #46556d17, 
              -2px -2px 3px 0 #0c0c0c1a, 
              2px 2px 3px 0 #faf9f91a;
}
.tapper-grid 
{
  border-radius:$radius;
}
.tapper-element-container
{
  position: absolute;
  bottom:0; 
  width: 70px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  background-color: #a50153;
  border-radius: 10px;
  display: flex;
  align-items: flex-start; 
}
.tapper-element-tapper
{
  width : 100%;
  position:relative;
  border-radius : 10px;
  cursor : pointer;
  margin: 5px;
  border: 1px solid #00000012;
} 
.pretto
{
  position:relative;
  height: 100%;
  display: flex;
  align-items: center;  
  flex-direction: column;
  & > span
  {
    padding:0 3px!important;
  };
  &-label
  {
    position:absolute;
    top:-75px;
    color: #6c7a93;
    font-weight:900;
    font-size:1.2rem;
  };
  &:hover[aria-label="pretto slider"]
  {
    opacity:1;
    transform: scale(1);
  };
  &-time
  {
    position:absolute;
    font-size:0.9rem;
    font-weight:700;
  };
  &-secs
  {
    font-size:0.6rem;
    font-weight:100;
  }
  &-check
  {
    position:absolute; 
  }
}   
.tapper-element-tapper-inner
{
  width : calc(100% - 5px);
  height:100%;
  background-color : #379fe9;
  border-radius : 100%; 
  opacity:0;  
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;

}
.tapper-element-container:hover .tapper-element-tapper > .tapper-element-tapper-inner
{
  opacity:1;
}
.tapper-element-tapper-inner-inner 
{
  border-radius : 100%; 
  width:100%;
  height: 100%;
  opacity: .5;
  position:relative;
  background : radial-gradient(circle at 12% 12%,  #c2d2ec 0%, #00000000 60%, #ffffff 80%);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.tapper-element-tapper-inner-inner:active
{
  background : radial-gradient(circle at 19% 19%,  #c2d2ec 0%, #00000000 60%, #ffffff 80%);
  opacity: 1;
}
.tapper-element-label
{
  position:absolute;
  width:100%;
  top: -30px;
  font-weight:900;
  font-size:1.2rem;
  color:#6c7a92;
  text-align:center;
}


.App-header {
  background-color: $app-background-color;
  height: $header-height;
  margin-bottom:10px;
}

.flow,
.flow-micro,
.flow-square,
.flow-little,
.flow-menu-item,
.flow-dark,
.tapper-edit
{
  background-color: #e5eefc;
  background: radial-gradient(circle at 95% 95%, #bdcade 0%,#eff5ff 100%);
  margin-bottom: 10px!important;
  box-shadow: 5px 5px 10px 0 #8693ac78, 
              -7px -7px 10px 0 #f5fbffad, 
              -3px -3px 3px 0 #8693acb5, 
              2px 2px 2px 0 #f5fbffee, 
              inset -2px -2px 2px 0 #00000021, 
              inset 2px 2px 2px 0 #ffffff5c !important;
  margin-right:12px!important;
  border-radius:100%;
  width: 42px;
  height: 42px !important;
  max-height: 42px!important;
  min-height: 42px!important;
  padding:0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  position:relative;
  &::before
  {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0px;
    margin-top: -0px;
    width: 0px;
    height: 0px;
    background: #85a4ff;
    border-radius: 100%;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity:0;
  }
  &.checkbox.Mui-checked,
  &.active
  { 
    box-shadow: $pressShadow; 
    background: radial-gradient(circle at 5% 5%, #bdcade 0%,#eff5ff 100%);
    &::before
    {
      margin-left: -9px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
    }
  }
  &.disable
  {
    color:#DDD!important;
    background: #444!important;
    box-shadow: none!important;
    &.active,
    &:active,
    &:hover
    {
      box-shadow: none!important;
    }
    &.sub
    {
      background: #333!important;
    }
  }
}
.flow:active,
.flow-micro:active,
.flow-square:active,
.flow-little:active,
.flow-menu-item.active,
.tapper-edit.active
{
  box-shadow: $pressShadow; 
}

.flow svg,
.flow-micro svg,
.flow-square svg,
.flow-little svg
{
  opacity:0;
}
.flow-little
{
  width: 30px;
  height: 30px !important;
  max-height: 30px!important;
  min-height: 30px!important;
} 
.flow-micro
{
  width: 22px;
  height:22px !important;
  max-height: 22px!important;
  min-height: 22px!important;
} 
.flow-square
{
  width: 40px;
  height:40px !important;
  max-height: 40px!important;
  min-height: 40px!important;
  border-radius: 0;
  box-shadow: -2px -2px 2px 0 #0000000a, 
              3px 3px 3px 0 #ffffff8c !important;
  background: transparent!important;
} 
.flow-menu
{
  display:flex;
  flex-direction:column;
  margin:15px;
  box-shadow: 3px 3px 3px 0px #ffffff80, 
              -2px -2px 2px 0px #ffffff00, 
              -2px -2px 2px 0px #000000 !important;
  border-radius: $radius;
  & [role="menu"]
  {
      margin:0;
      padding:0;
  };
} 
.flow-menu-item,
.flow-dark,
.tapper-edit
{
  margin:0!important; 
  display:flex!important;
  justify-content:center!important;
  align-items: center!important; 
  color:#CCC!important;
  text-shadow: 0 2px 3px #000000;
  background: #555;
  background: -moz-linear-gradient(top,  #555 10%, #444 45%);
  background: -webkit-linear-gradient(top,  #555 10%, #444 45%);
  background: linear-gradient(to bottom,  #555 10%, #444 45%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#444',GradientType=0 );
  box-shadow: inset -1px -1px 2px 3px #0000007a, inset 1px 1px 2px 0px #ffffff !important;
  &:first-of-type
  {
    border-top-left-radius: $radius - 6;
    border-top-right-radius: $radius - 6;
  }
  &:last-of-type
  {
    border-bottom-left-radius: $radius - 6;
    border-bottom-right-radius: $radius - 6;
  }
  &.sub
  {
    background: #333;
    box-shadow: none !important;
    &:hover
    {
      background: #292929;
    }
    &.active
    {
      background: #333;
    }
  }
  &.active
  {
    color:#FFF!important;
    background: #444;
    background: -moz-linear-gradient(top,  #111 0%, #444 92% );
    background: -webkit-linear-gradient(top,  #111 0%, #444 92% );
    background: linear-gradient(to bottom,  #111 0%, #444 92% );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#444',GradientType=0 );
  };
  &:active
  {
    box-shadow: $pressShadow
  }
}
.flow-dark
{
  border-radius: 100%!important;
  margin:10px!important;
  &:hover
  {
    box-shadow: $pressShadow; 
  }
}
.mobile-scrolled
{
  overflow-y:auto;
  overflow-y:hidden;
 
} 
.h-100
{
  height:100%;
  display: flex;
  flex-direction: column;
} 
.w-100
{
  width:100%;
  display: flex;
}
.close-label-left-sm,
.close-label-left-sm,
.label-left-sm-1,
.label-left-sm-2,
.label-right-sm-3,
.label-menu
{
  display:none!important;
} 
.edit_button
{
  width:30px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:30px;
  margin-right:2px;
  color:#AAA;
  background:#333;
  border: 1px solid #00000099;
  &:active
  {
    color:#EEE;
    box-shadow: $pressShadow;
  }
  & > svg
  {
    font-size: 1.2rem;
  }

}

.m-1
{
  margin:10px;
}
.p-1
{
  padding:10px;
}
.px-1
{
  padding-left:10px;
  padding-right:10px;
}
.p-2
{
  padding: 20px;
}
.mt-1
{
  margin-top:10px;
}
.mt-1_5
{
  margin-top:15px;
}
.mt-2
{
  margin-top:20px;
}
.mt-auto
{
  margin-top:auto;
}
.absolute-right
{
  position:absolute;
  right:0;
  display:flex;
}
@media (max-width: $small)
{
  .App
  {
    overflow: hidden;
  }
  .order-sm-1
  {
    order:1;
    overflow-x:hidden;
  }
  .order-sm-2
  {
    order:2;
  }
  .order-sm-3
  {
    order:3;
  }
  .order-sm-4
  {
    order:4;
  }
  .order-sm-5
  {
    order:5;
  }
  .order-sm-6
  {
    order:6;
  }
  .clip-left-sm-1, 
  .clip_left_sm_2,
  .clip_right_sm_3
  {
    position:absolute;
    top:0;
    width:100%;
    left:-100%;
    z-index:2;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &.active
    {
      left:0;
    }
  } 
  .label-menu
  {
    display: -webkit-flex !important;
    display: flex !important;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 75px;
    height: 200px;
    border-radius: 20px;
    box-shadow: inset -1px -1px 2px 3px #0000007a, inset 1px 1px 2px 0px #ffffff !important;
    background: linear-gradient(to bottom, #555 10%, #444 45%);
    transform: skewY(-29deg);
    z-index:3;
  }
  .label-left-sm-1,
  .label-left-sm-2,
  .label-right-sm-3
  {
    position:absolute;
    z-index:4;
    width:40px;
    height:40px; 
    color:#DDD;
    display:flex!important;
    justify-content:center;
    align-items: center;
    top:10px;
    left: 7px;
    border-radius: 43px; 
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out; 
    box-shadow: inset -1px -1px 2px 3px #0000007a, inset 1px 1px 2px 0px #ffffff !important;
    background: linear-gradient(to bottom, #555 10%, #444 45%);
    &.active
    {      
      color:#FFF!important;
      background: #444;
      background: -moz-linear-gradient(top,  #111 0%, #444 92% );
      background: -webkit-linear-gradient(top,  #111 0%, #444 92% );
      background: linear-gradient(to bottom,  #111 0%, #444 92% );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#444',GradientType=0 );
      box-shadow: $pressShadow;
    }
  }
  .label-right-sm-3
  {  
    top:110px;
  }
  .close-label-left-sm,
  .close-label-left-sm-2
  {
    height:60px;
    display:flex!important;
    justify-content:center;
    align-items: center;
  }
  .label-left-sm-2
  {
    top:61px;
  }
  .mobile-scrolled
  {
    overflow-y:auto;
  }
  .tapper-grid
  {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    align-items: center;    
    padding: 0px 10px 0 60px !important; 
  }
  .flow-menu
  {
    width: calc(100% - 30px);
  }
}