/* variables */
$app-background-color: #EEE;
$header-height: 120px;
$tapper-width : 500px;
$tapper-height : 180px;
$tapper-border-color : #00000020;
$tapper-color2 : #EEE;
$tapper-color : #6c7a93;
$small: 570px;


body {
  margin: 0;
  overflow-x: hidden;
  color: $tapper-color;
}
.App {
  display:flex; 
  position: relative;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
} 
.tapper-title
{
  font-size: 1.3rem!important;
  text-transform: uppercase;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.tapper-descr
{
  display:flex;
  flex-direction:column;
  flex-grow:1000;
  background-color: #d3e1f7;
}
.tapper-container
{ 
  position: relative; 
}
.tapper-inside
{
  overflow: hidden;
  height: $tapper-height;
  flex-grow: 1;  
  position: relative; 
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.m-1
{
  margin:10px;
}
.p-1
{
  padding:10px;
}
.p-2
{
  padding: 20px;
}
.tapper-shadow
{
  box-shadow: -2px -2px 3px 0 #0c0c0c2b, 2px 2px 3px 0 #faf9f9;
}
.tapper-shadow2
{
  box-shadow: 7px 7px 18px 0 #43618f17, 
              inset 2px 2px 2px 0 #ffffffaa, 
              inset -2px -2px 2px 0 #46556d17, 
              -2px -2px 3px 0 #0c0c0c1a, 
              2px 2px 3px 0 #faf9f91a;
}
.tapper-element-container
{
  position: absolute;
  bottom:0; 
  width: 70px;
  height: 200px;
  bottom: 0px;
  left: 0px;
  background-color: #a50153;
  border-radius: 10px;
  display: flex;
  align-items: flex-start; 
}
.tapper-element-tapper
{
  width : 100%;
  position:relative;
  border-radius : 10px;
  cursor : pointer;
  margin: 5px;
  border: 1px solid #00000012;
} 
.pretto
{
  position:relative;
  height: 100%;
  display: flex;
  align-items: center;  
  flex-direction: column;
  & > span
  {
    padding:0 3px!important;
  };
  &-label
  {
    position:absolute;
    top:-75px;
    color: #6c7a93;
    font-weight:900;
    font-size:1.2rem;
  };
  &:hover[aria-label="pretto slider"]
  {
    opacity:1;
    transform: scale(1);
  };
  &-time
  {
    position:absolute;
    font-size:0.9rem;
    font-weight:700;
  };
  &-secs
  {
    font-size:0.6rem;
    font-weight:100;
  }
  &-check
  {
    position:absolute; 
  }
}   
.tapper-element-tapper-inner
{
  width : calc(100% - 5px);
  height:100%;
  background-color : #379fe9;
  border-radius : 100%; 
  opacity:0;  
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;

}
.tapper-element-container:hover .tapper-element-tapper > .tapper-element-tapper-inner
{
  opacity:1;
}
.tapper-element-tapper-inner-inner 
{
  border-radius : 100%; 
  width:100%;
  height: 100%;
  opacity: .5;
  position:relative;
  background : radial-gradient(circle at 12% 12%,  #c2d2ec 0%, #00000000 60%, #ffffff 80%);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.tapper-element-tapper-inner-inner:active
{
  background : radial-gradient(circle at 19% 19%,  #c2d2ec 0%, #00000000 60%, #ffffff 80%);
  opacity: 1;
}
.tapper-element-label
{
  position:absolute;
  width:100%;
  top: -30px;
  font-weight:900;
  font-size:1.2rem;
  color:#6c7a92;
  text-align:center;
}


.App-header {
  background-color: $app-background-color;
  height: $header-height;
  margin-bottom:10px;
}

.flow,
.flow-micro,
.flow-square,
.flow-little
{
  background-color: #e5eefc;
  background: radial-gradient(circle at 95% 95%, #bdcade 0%,#eff5ff 100%);
  margin-bottom: 10px!important;
  box-shadow: 5px 5px 10px 0 #8693ac78, 
              -7px -7px 10px 0 #f5fbffad, 
              -3px -3px 3px 0 #8693acb5, 
              2px 2px 2px 0 #f5fbffee, 
              inset -2px -2px 2px 0 #00000021, 
              inset 2px 2px 2px 0 #ffffff5c !important;
  margin-right:12px!important;
  border-radius:100%;
  width: 42px;
  height: 42px !important;
  max-height: 42px!important;
  min-height: 42px!important;
  padding:0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  position:relative;
  &::before
  {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0px;
    margin-top: -0px;
    width: 0px;
    height: 0px;
    background: #85a4ff;
    border-radius: 100%;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity:0;
  }
  &.checkbox.Mui-checked,
  &.active
  { 
    box-shadow: 2px 2px 4px 0 #f5fbffed , 
              -2px -2px 4px 0 #8693ac7a, 
              inset -2px -2px 2px 0 #ffffff5c, 
              inset 2px 2px 2px 0 #00000021!important; 
    background: radial-gradient(circle at 5% 5%, #bdcade 0%,#eff5ff 100%);
    &::before
    {
      margin-left: -9px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
    }
  }
}
.flow:active,
.flow-micro:active,
.flow-square:active,
.flow-little:active
{
  box-shadow: 2px 2px 4px 0 #f5fbffed , 
              -2px -2px 4px 0 #8693ac7a, 
              inset -2px -2px 2px 0 #ffffff5c, 
              inset 2px 2px 2px 0 #00000021!important; 
}

.flow svg,
.flow-micro svg,
.flow-square svg,
.flow-little svg
{
  opacity:0;
}
.flow-little
{
  width: 30px;
  height: 30px !important;
  max-height: 30px!important;
  min-height: 30px!important;
} 
.flow-micro
{
  width: 22px;
  height:22px !important;
  max-height: 22px!important;
  min-height: 22px!important;
} 
.flow-square
{
  width: 40px;
  height:40px !important;
  max-height: 40px!important;
  min-height: 40px!important;
  border-radius: 0;
  box-shadow: -2px -2px 2px 0 #0000000a, 
              3px 3px 3px 0 #ffffff8c !important;
  background: transparent!important;
} 
.mobile-scrolled
{
  overflow-y:auto;
  overflow-y:hidden;
 
} 
.h-100
{
  height:100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: $small)
{
  .order-sm-1
  {
    order:1;
  }
  .order-sm-2
  {
    order:2;
  }
  .order-sm-3
  {
    order:3;
  }
  .order-sm-4
  {
    order:4;
  }
  .order-sm-5
  {
    order:5;
  }
  .order-sm-6
  {
    order:6;
  }
  .mobile-scrolled
  {
    overflow-y:auto;
  }

}