@keyframes show2 {
    0% 
	{ 
		transform: translateX(30%);		
    }
    100% { 
		transform: translateX(0%);	
    }
}@keyframes show {
    0% 
	{ 
		transform: translateX(-30%);		
    }
    100% { 
		transform: translateX(0%);	
    }
}
.MuiDialog-paperWidthSm
{
	width:100%;
}